/* colores q hay que cambiar */
:root {
  --azul: #96B6C5;
  --celeste: #ADC4CE;
  --beige: #EEE0C9;
  --blanco: #F1F0E8;
  --texto: #333;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  background: var(--blanco);
  color: var(--texto);
}


.carrito-vacio {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  padding: 1rem;
}

.mensaje-de-carrito-vacio {
  text-align: center;
  background: var(--beige);
  padding: 2rem;
  border-radius: 10px;
  max-width: 500px;
  width: 100%;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}


.icono {
  font-size: 3rem;
  color: var(--azul);
  margin-bottom: 1rem;
}


h1 {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--azul);
  margin-bottom: 1rem;
}

p {
  font-size: 1rem;
  margin-bottom: 1.5rem;
}

p a {
  color: var(--azul);
  font-weight: bold;
  text-decoration: none;
}


.boton-volver {
  background: var(--azul);
  color: white;
  border: none;
  padding: 0.8rem 1.5rem;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
}

.boton-volver:hover {
  background: var(--celeste);
}
