body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  background: #2E3A59; 
  color: #E0E0E0;
}

.carrito-vacio {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  padding: 1rem;
}

.mensaje-de-carrito-vacio {
  text-align: center;
  background: #1E1E2E; 
  padding: 2rem;
  border-radius: 10px;
  max-width: 500px;
  width: 100%;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.icono {
  font-size: 3rem;
  color: #96B6C5;
  margin-bottom: 1rem;
}

h1 {
  font-size: 1.5rem;
  font-weight: 700;
  color: #96B6C5; 
  margin-bottom: 1rem;
}

p {
  font-size: 1rem;
  margin-bottom: 1.5rem;
}

p a {
  color: #96B6C5;
  font-weight: bold;
  text-decoration: none;
}

.boton-volver {
  display: inline-block;
  padding: 0.7em 1.5em;
  background-color: #96B6C5; 
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  margin-top: 1rem;
  transition: background-color 0.3s;
}

.boton-volver:hover {
  background-color: #4C7A8B; 
}

