
main {
    padding: 2rem;
    background-color: #F1F0E8;
    color: #333;
}

h1 {
    text-align: center;
    margin-bottom: 1.5rem;
    color: #96B6C5;
}


.contacto {
    display: flex;
    flex-direction: column; 
    gap: 1.5rem;
}


form {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    background-color: #2E3A59;
    color: #E0E0E0;
    padding: 1rem;
    border-radius: 10px;
}

form input,
form textarea {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #F1F0E8;
    color: #333;
}


button[type="submit"] {
    background-color: #96B6C5;
    color: white;
    border: none;
    padding: 0.7rem;
    border-radius: 5px;
    cursor: pointer;
}


.info {
    flex: 1;
    background-color: #2E3A59;
    color: #E0E0E0;
    padding: 1rem;
    border-radius: 10px;
}

.info iframe {
    width: 100%;
    height: 200px;
    margin-top: 1rem;
    border: none;
    border-radius: 10px;
}


@media (min-width: 768px) {
    .contacto {
        flex-direction: row; 
        gap: 2rem;
    }

    form, .info {
        flex: 1; 
    }
}

@media (min-width: 1024px) {
    main {
        padding: 3rem 5rem;
    }

    form, .info {
        padding: 2rem;
    }
}
