
* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;

}

.barra-busqueda {

    display: flex;
    padding-left: 0em;



}

input {

    border-radius: 1em 0 0 1em;
    border: 0;
    outline: none;
    padding: 1em;
    width: 40em;
    font-weight:normal
  
}

.lupa {

    color: #ff6d00;
    background: #ffffff;
    border: 0;
    border-radius: 0em 1em 1em 0em;
    cursor: pointer;
    padding: 1em;

}



.barra-superior {

    display: flex;
    align-items: center;
    background-color: #1E1E2E;
    padding: 1em 2em;
    justify-content: space-between;


}





.carrito {

    color: #E0E0E0;
    background: none;
    border: none;
    cursor: pointer;
    position: relative;


}

.carrito .contador {

    position: absolute;
    top: -1em;
    right: -1em;
    background-color: #F1F0E8;
    color: #1E1E2E;
    font-size: 1.2em;
    font-weight: bold;
    padding: 0.1em 0.5em;
    border-radius: 100%;


}


.logo {

width: 10em;
height: auto;

}

.carrito {

    margin-right: 3em;
    
}

.carrito i {

    font-size: 1.8em;
}

.header-lado-derecho {

    display: flex;
    align-items: center;


}

.icono-usuario {


    display: flex;
    gap: 2.5em;


}

.usuario-iniciado {

    text-decoration: none;
    color: #E0E0E0;
    

}


.usuario-iniciado a {

    font-size: 1.2em;
    text-decoration: none;
    color: #E0E0E0;


}



.menu-principal {

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.3em;
    padding-left: 20em;
    padding-right: 20em;
    background-color: #1E1E2E;
    padding-bottom: 2em;
    
}

.menu-principal-container {

    width: 100%;


}


.menu-principal-container ul {

    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 0;

     
}



.menu-principal-container li a {
    margin: 0; 
    text-decoration: none;   
    color: #E0E0E0;              
}

.menu-principal-container li a:hover {


    color: #ff6d00;

}






.slide img {

    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    

}

.slide {

    width: 100%;
    height: 45em;
    overflow: hidden;
    position: relative;

}

.flechas {

    
    position: absolute;
    top: 50%;
    left: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0em 10em;

    
    
  

}

.flecha-izq {

    border: none;
    background: none;
    cursor: pointer;
    transform: rotate(90deg);
    font-size: 7em;
    color: #E0E0E0;
    


}

.flecha-der {

    border: none;
    background: none;
    cursor: pointer;
    transform: rotate(-90deg);
    font-size: 7em;
    color: #E0E0E0;;

}



.pasos {

    display: flex;
    justify-content: space-between;
    padding-top: 6em;
    padding-bottom: 6em;
    background-color: #2E3A59;
    padding-left: 10em;
    padding-right: 10em;

    

}

.pasos h2 {

    color: #ff6d00;


}

.paso-1 {

    display: flex;
    background-color: #1E1E2E;
    padding: 4em;
    text-align: center;
    border-radius: 1.5em;
    justify-content: space-between;
    flex-direction: column;
    gap: 2em;
    
    
    

}

.paso-1 p {

    width: 20em;
    color: #E0E0E0;


}

.paso-2 {


    display: flex;
    background-color: #1E1E2E;
    padding: 4em;
    text-align: center;
    border-radius: 1.5em;
    justify-content: space-between;
    flex-direction: column;
    gap: 2em;

}

.paso-2 p {

    width: 20em;
    color: #E0E0E0;


}

.paso-3 {


    display: flex;
    background-color: #1E1E2E;
    padding: 4em;
    text-align: center;
    border-radius: 1.5em;
    justify-content: space-between;
    flex-direction: column;
    gap: 2em;

}

.paso-3 p {

    width: 20em;
    color: #E0E0E0;


}

.container-cursos {

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10em;


}


.cursos {

    background-color: #1E1E2E;
    padding-bottom: 9em;


}

.cursos .fondo {


    position: absolute;
    max-width: 100%;
    filter: brightness(0.2);

}

.cursos h2 {

    position: relative;
    text-align: center;
    margin-bottom: 3em;
    padding-top: 3em;
    color: #E0E0E0;
    
}

.grid-cursos {

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
    gap: 2em;
    max-width: 50%;
    margin: 0 auto;
    position: relative;



}

.curso {

    border: 0.5em solid #2E3A59;
    border-radius: 0.2em;
    background: #2E3A59;
    display: flex;
    flex-direction: column;
    text-align: center;


}

.curso .info {

    color: #E0E0E0;

}

.img-container {

    width: 100%;
    padding-top: 75%;
    position: relative;
    overflow: hidden;

}

.img-container img {


    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.2em;


}

.precio {

    position: absolute;
    bottom: 1em;
    right: 1em;
    background: red;
    color: #E0E0E0;
    padding: 0.3em 0.7em;
    font-size: 0.9rem;



}

.info {

    padding: 1em;


}

.horas {

    font-weight: bold;
    margin: 0;

}

.nombre {

    font-size: 1rem;
    margin: 0.4em 0 1em;


}

.comprar {

    background: #ff6d00;
    color: #E0E0E0;
    border: none;
    padding: 0.8em 1em;
    cursor: pointer;
    border-radius: 0.5em;

}

.comprar:hover {

    background: #4CC9F0;
    color: #E0E0E0;

}

.medios-pago {

    display: flex;
    position: relative;
    justify-content: space-between;
    flex-direction: column;
    background-color: #2E3A59;
    padding-bottom: 4em;
    gap: 3em;
    

}

.medios-pago h2 {

    color: #E0E0E0;
    text-align: center;
    padding-top: 2em;

}

.logos {

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5em;

}

.logo-item {

    width: 9em;
    height: 5em;
    background: #E0E0E0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5em;


}

.logo-item img {

    max-width: 100%;
    max-height: 100%;
    object-fit: contain;



}



.footer {

    background: #0F111A;
    color: #E0E0E0;

}

.footer-container {

    max-width: 90em;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10em, 1fr));
    padding: 3em;


}

.footer-col h3 {

    margin-bottom: 2em;
    font-size: 1.2rem;

}

.footer-col ul {

    list-style: none;
    padding: 0;
    margin: 0;

}

.footer-col ul li {

    margin-bottom: 0.5em;

}

.footer-col a {

    color: #E0E0E0;
    text-decoration: none;


}

.footer-col a:hover {

    text-decoration: underline;


}

.redes img {

    width: 2em;
    height: 2em;
    margin-right: 1em;
    transition: transform 0.2s;

}

.redes img:hover {

    transform: scale(1.1);

}






