* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


main {
    padding: 0 5%;
    margin: 0 auto;
    background-color: #2E3A59;
    color: #fff
}

.form__info {
    margin: 2% auto;
}

.fields {
    display: grid;
    grid-template-columns: repeat(3, 3fr) 1fr;
    gap: 1em;
    margin: 1% auto;
    height: 3em;
}

.fields input {
    border-radius: 0.5em;
    border: #96b6c5 solid 0.1em;
    width: 100%;
    background-color: #4A5A7A;
    color: #fff;
}

.fields input::placeholder {
    color: #d1d8e0;
    opacity: 1;
}

.main__title {
    text-align: center;
    padding: 1% 0;
    border-bottom: #adc4ce solid 0.1em;
    padding-top: 5%;
}

button {
    display: flex;
    align-items: center;
    gap: 10px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: inherit;
    color: inherit;
}


.fields button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    color: #ff6d00;
    font-size: 2em;
}

.add__button span {
   background-color: #ff6d00;
   border-radius: 50%;
   font-size: 1.5em;

}

.add__button {
    margin-top: 2%;
}

#price {
    border: #96b6c5 solid 0.1em;
    padding: 1%;
    background-color: #1E1E2E;
}

.resume {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1em;
    margin-top: 2%;
    padding-bottom: 5%;
}

.resume__button {
    background-color: #ff6d00;
    border: none;
    border-radius: 0.5em;
    color: #fff;
    cursor: pointer;
    font-size: 1em;
    padding: 0.5em 1em;
}

.barra-busqueda button {
    height: 100%;
    margin: 0;
}

.carrito a {
    text-decoration: none;
    color: inherit;
}

@media (max-width: 768px) {
    .fields {
        grid-template-columns: 2.5fr 0.5fr;
        gap: 0.8em;
        height: auto;
        margin: 5% auto;
    }

    .fields input {
        grid-column: 1/2;
    }

    .fields button {
        font-size: 1em;
        grid-column: 2/3;
        grid-row: 1/2;
    }
}