* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


main {
    padding: 0 5%;
    margin: 0 auto;
    background-image: linear-gradient(rgba(0,0,0,0.7)), url('/TPIntegradorPW1/Imagenes/Imagen-de-fondo/fondo-cursos.jpg');
    color: #fff
}

.form__info {
    margin: 1% auto;
}

.fields {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
    margin: 1% auto;
    height: 3em;
}

.fields input {
    border-radius: 0.5em;
    border: #96b6c5 solid 0.1em;
    width: 100%;
    padding-left: 1rem;
}

.fields input::placeholder {
   
    opacity: 1;
    
}

.main__title {
    text-align: center;
    padding: 4% 0;
    border-bottom: #adc4ce solid 0.1em;
}

.form-button {
    background-color: #ff6d00;
    border: none;
    border-radius: 0.5em;
    color: #fff;
    cursor: pointer;
    font-size: 1em;
    margin: 1% 0.5% 0 0;
    padding: 0.5em 1em;
}

#price {
    border: #96b6c5 solid 0.1em;
    padding: 1%;
    background-color: #1E1E2E;
}

.resume {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1em;
    margin-top: 5%;
    padding-bottom: 5%;
}

.barra-busqueda button{
    height: 100%;
    margin: 0;
}

.carrito a {
    text-decoration: none;
    color: inherit;
}

@media (max-width: 768px) {
    .fields {
        grid-template-columns: 1fr;
        gap: 0.8em;
        height: auto;
    }
}